# vim swap files
**/*.swp

# compiled binaries
bin/**

# compiled object files
build/**/*.o

# compiled python byte code
python/**/__pycache__
python/**/*.pyc
python/**/*.pyo

# flycapture sdk (which we can't distribute)
3rdparty/flycapture/include/**
3rdparty/flycapture/lib/**

sim_model.blend*
pipe/*
logs/*

